body {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: "Stack Sans Text";
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

header h2{
    font-family: "Smooch Sans";
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header img {
    width: 50%;
    height: 40%;
    overflow: auto;
    background-color: none;
}

.notebook-page {
    /* max-width: 800px;
    min-height: 500px; */
    background-color: #fff;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to bottom, transparent 24px, #e6e6e6 25px);
    background-size: 100% 25px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

li {
    background: #fffad6;
    padding: 8px;
    border-radius: 7px;
    border: 0.5px solid #a4a4a4;
}

a {
    color: #515151;
    text-decoration: none;
}

h1 {
    color: #515151;
    text-align: center;
    font-size: 28px;
    line-height: normal;
    font-weight: 400;
    padding: 10px;
}

.skip a {
    position: absolute;
    top: -65px;
}

.sticky-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.skip a:focus-visible {
    background: white;
    padding: 5px;
    color: #000;
    position: absolute;
    top: 25px;
}

.sticky-note {
    min-height: 200px;
    padding: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.sticky-note p {
    font-size: 0.85em;
    color: #333;
    line-height: 1.6;
}

.sticky-note:nth-child(2n+1) {
    background-color: #fad6ff;
}

.sticky-note:nth-child(2n) {
    background-color: #d6eaff;
}

@media screen and (min-width: 1000px) {
    header {
        flex-direction: row;
    }

    .sticky-wrapper {
        flex-direction: row;
    }
}